*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

body{
    width: 100vw;
    min-height: 100vh;
    background-color: #FAFAFA;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto,Helvetica Neue,sans-serif;

}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 20px;
    font-weight: bold;

    letter-spacing:5px;
    padding: 24px;
    background-color: #007BFF;

}

.container{
    width: 60%;
    margin-top: 60px;
    min-height: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    padding: 24px 20px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}
.quote-area{
    width: 100%;
    font-size: 28px;
    line-height: 32px;
    padding: 20px 0px;
    border-bottom: 1px solid gray;
}

.quote-area .wrong{
    color:red;
}

.quote-area > span{
    padding: 0px 1px;
    color: black;
}

.quote-area > .not-touched{
    color:#d3d3d3;
}

.quote-area > .active{
    color: black;
    animation: blink 1s infinite ;
}

.action-buttons{
    margin-top: 30px;
}

.action-buttons > button{
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.progress-bar{
    width: 0%;
    height: 5px;
    background-color: #007BFF;
    margin-top: 15px;
}
.display-result{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 24px 10px;
}

.display-score{
    color: green;
    font-size: 22px;
}

.display-error{
    color: red;
    font-size: 22px;
}
@keyframes blink {
    0%, 49% {
        background-color: #007BFF;
        color: #fff;
    }
    50%, 100% {
        background-color:transparent
    }
}
